selenium 
webdriver-manager 
pandas 
pymongo 
pythainlp 
bs4
transformers 
torch 
pandas 
sentencepiece
schedule
apscheduler


#pip install -r requirements.txt
# git remote set-url origin git@github.com:sirinapa-git/Scrape_LLM.git
